<h1>My page</h1>
<p>email : <%= @user.email %></p>
<p>postal_code : <%= @user.postal_code %></p>
<p>address : <%= @user.address %></p>
<p>profile : <%= @user.profile %></p>
<%= link_to t('.books_index'), books_path %>
