<h1>My page</h1>
<p><%= t '.email' %> : <%= @user.email %></p>
<p><%= t '.postal_code' %> : <%= @user.postal_code %></p>
<p><%= t '.address' %> : <%= @user.address %></p>
<p><%= t '.profile' %> : <%= @user.profile %></p>
<%= link_to t('.books_index'), books_path %>
